<ion-header>
  <ion-toolbar color="redHeader" *ngIf="checkboxShow">
      <button ion-button icon-only clear color="light" (click)="cancel()">
        <ion-icon name="arrow-round-back"></ion-icon> 
        <ion-title>{{ checkedSusbcriptions.length }} {{ 'ELEMENTS' | translate }}</ion-title>
      </button>
      <ion-buttons start>
        <button ion-button icon-only clear small item-right (click)="selectAll()">
          <ion-icon name="done-all"></ion-icon>
        </button>
        <button *ngIf="checkedSusbcriptions.length == 1" ion-button icon-only clear small item-right (click)="createOrUpdate(checkedSusbcriptions[0]);">
          <ion-icon name="brush"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button icon-only clear small item-right (click)="deleteConfirmPrompt()">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-buttons>
  </ion-toolbar>
  <ion-navbar *ngIf="!checkboxShow">
    <button ion-button icon-only clear color="secondary" menuToggle>
      <ion-icon name="menu"></ion-icon> 
    </button>
    <ion-title>{{page_title}}</ion-title>
    <ion-buttons start>
      <button ion-button icon-only clear small item-right>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only clear small item-right>
        <ion-icon name="more"></ion-icon>        
      </button>
    </ion-buttons>
  </ion-navbar> 
</ion-header>


<ion-content padding class="page-subscriptions">
  <ion-list>
    <ion-item *ngFor="let subscription of subscriptions" (press)="pressEvent($event, subscription)">
      <h2>{{subscription.getTitle()}}</h2>
      <p>{{subscription.getDescription()}}</p>
      <ion-note item-right>{{subscription.getSum()}}</ion-note>
      <ion-checkbox *ngIf="checkboxShow" color="secondary" [checked]="checkItem(subscription)" (click)="onChange($event, subscription, checkItem(subscription))"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-fab bottom right *ngIf="!checkboxShow">
    <button ion-fab color="secondary" icon-only (tap)="createOrUpdate()">
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
