.page-subscriptions {
  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 12px;
  }

  .action-sheet-brush {
    color: #508AE4;
  }
  .action-sheet-trash {
    color: #31D55F;
  }
  .action-sheet-cancel ion-icon,
  .action-sheet-destructive ion-icon {
    color: #757575;
  }

}

