<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar color ="primary">
      <ion-title text-center>{{ leftMenuTitle }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="menu-content">

    <ion-list>
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)" class="bb">
        <ion-icon name="{{p.icon}}" item-left></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
    <div>
    </div>

  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
