<ion-header>
  <ion-navbar>
    <button ion-button icon-only clear color="secondary" menuToggle>
      <ion-icon name="menu"></ion-icon> 
    </button>
    <ion-title>
      {{page_title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page-new-objectif">
  	<ion-list>
  		<!-- General Info -->
  		<ion-item>
	    	<ion-input [(ngModel)]="sum" name="sum" type="number" disabled="{{isSumSaved}}" placeholder="{{sum_placeholder}}"></ion-input>

	    	<button ion-button icon-only clear small item-right *ngIf="isSumSaved == false" color="secondary"  (click)="saveSum()">
		   		<ion-icon name="checkmark-circle"></ion-icon>
		   	</button>
		   	<button ion-button icon-only clear small item-right *ngIf="isSumSaved == true" color="primary" (click)="updateSum()">
		   		<ion-icon name="create"></ion-icon>
		   	</button>
	    </ion-item>
	    <ion-item>
	    	<ion-input [(ngModel)]="period" name="period" type="number" disabled="{{isPeriodSaved}}" placeholder="{{period_placeholder}}"></ion-input>

			<button ion-button icon-only clear small item-right *ngIf="isPeriodSaved == false" color="secondary"  (click)="savePeriod()">
			   	<ion-icon name="checkmark-circle"></ion-icon>
			</button>
			<button ion-button icon-only clear small item-right *ngIf="isPeriodSaved == true" color="primary" icon-only (click)="updatePeriod()">
			   	<ion-icon name="create"></ion-icon>
			</button>
	    </ion-item>
	    <ion-item>

	    	<ion-input [(ngModel)]="description" name="description" placeholder="{{description_placeholder}}"></ion-input>
	    </ion-item>
	</ion-list>
	
	<!-- Subscribes list -->
  	<ion-list>
  		<ion-list-header>
  			<ion-icon name="filing" color="secondary" small item-left></ion-icon>
    		{{ subscriptions_title }}
    		<button ion-button icon-only clear small item-right color="secondary" (click)="subscriptionsPrompt()">
		   		<ion-icon name="add-circle"></ion-icon>
		   	</button>
  		</ion-list-header>
		<ion-item *ngFor="let subscription of subscriptions">
	      <h2>{{ subscription.getTitle() }}</h2>
	      <!--<ion-note item-right>{{ subscription.getSum() }}</ion-note>-->
	      <ion-badge item-right color="danger">{{ subscription.getSum() }}</ion-badge>

	      <button ion-button icon-only clear small item-right color="danger" (click)="remove(subscription)">
		   		<ion-icon name="close"></ion-icon>
		  </button>
	    </ion-item>
	</ion-list>

	<!-- Credits list -->	
	<ion-list>
  		<ion-list-header>
  			<ion-icon name="card" color="secondary" small item-left></ion-icon>
    		{{credits_title}}
    		<button ion-button icon-only clear small item-right color="secondary" (click)="creditsPrompt()">
	   			<ion-icon name="add-circle"></ion-icon>
	   		</button>
  		</ion-list-header>
	  	<ion-item ion-item *ngFor="let credit of credits">
	    	<h2>{{ credit.getTitle() }}</h2>
	        <!--<ion-note item-right>{{ credit.getSum() }}</ion-note>-->
	      	<ion-badge item-right color="danger">{{ credit.getSum() }}</ion-badge>
	      	<button ion-button icon-only clear small item-right color="danger" (click)="remove(credit)">
		   		<ion-icon name="close"></ion-icon>
		  </button>
	  	</ion-item>
	</ion-list>

</ion-content>

<ion-footer>
	<div padding>
		<button  ion-button full color="secondary" (click)="saveObjectif()">
		   	{{ 'SAVE' | translate }}
		 </button>
	</div>
</ion-footer>

