<ion-header>
  <ion-navbar>
    <ion-title>
      {{page_title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page-subscription-form">
  	<ion-list>
  		<!-- General Info -->
  		<ion-item>
  			<ion-input [(ngModel)]="title" name="title" placeholder="{{title_placeholder}}"></ion-input>
  		</ion-item>
  		<ion-item>
	    	<ion-input [(ngModel)]="sum" name="sum" type="number" placeholder="{{sum_placeholder}}"></ion-input>
	    </ion-item>
	    <ion-item>
	    	<ion-input [(ngModel)]="description" name="description" placeholder="{{description_placeholder}}"></ion-input>
	    </ion-item>
	</ion-list>
</ion-content>

<ion-footer>
	<div padding>
		<button  ion-button full color="secondary" (click)="save()">
		   	{{ 'SAVE' | translate }}
		 </button>
	</div>
</ion-footer>
